# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=api_vitals
DATABASE_URL=postgres://postgres:postgres@db:5432/api_vitals

# Redis Configuration
REDIS_URL=redis://redis:6379

# App Configuration
PORT=3000
NODE_ENV=development
